@model IEnumerable<Trade.Model.ModelView.ItemModelview>
<style>
    body {
        background-color: #330000;
        color: #000000;
        line-height: 1.4;
    }

    .div1 a.current {
        color: #ccc;
    }

    .div1 a, .div2 a {
        color: #ff9900;
    }

    .div2 p {
        padding: 20px 0;
    }
</style>
<div class="col-xs-12">
    <div class="panel panel-primary">
        <div class="panel-heading">My Trade</div>

        <div class="panel-body">
            <div>
                @Html.ActionLink("Create New", "Create")
            </div>


            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ItemRef)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ItemName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ItemPrice)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ItemDescription)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ItemRef)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ItemName)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.ItemPrice)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ItemDescription)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                        </td>
                    </tr>
                }

            </table>


        </div>
    </div>
</div>



