@model IEnumerable<Trade.Model.ModelView.BetModelView>
<style>
    body {
        background-color: #330000;
        color: #000000;
        line-height: 1.4;
    }

    .div1 a.current {
        color: #ccc;
    }

    .div1 a, .div2 a {
        color: #ff9900;
    }

    .div2 p {
        padding: 20px 0;
    }
</style>

<div class="col-xs-12">
    <div class="panel panel-primary">
        <div class="panel-heading">My Notification</div>
        <div align="center">
            <ol class="breadcrumb">
                <li class="active">
                    <button type="button" class="btn btn-success" onclick="location.href='@Url.Action("MyNotUpdateBet")';return false;"><span class="glyphicon "></span>Demand</button>
                </li>
                <li class="x">
                    <button type="button" class="btn btn-success" onclick="location.href='@Url.Action("GetUpdatedBet")';return false;" disabled><span class="glyphicon "></span>Reply</button>
                </li>
            </ol>
        </div>
        <div class="panel-body">
            <table class="table">
                <tr>

                    <th>
                        @Html.DisplayNameFor(model => model.ItemName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Message)
                    </th>

                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>

                        <td>
                            @Html.DisplayFor(modelItem => item.ItemName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Message)
                        </td>


                        <td>
                            @Html.ActionLink("Viewed", "Accept", new { id = item.itemref }, new { title = "Mark as Viewed", @class = "btn btn-default glyphicon glyphicon-check" })
                            @{
                                if (item.IsAccept != 2)
                                {
                                    @Html.ActionLink("Bet", "Details", new { id = item.itemref }, new { title = "Bet Again", @class = " btn btn-default glyphicon glyphicon-refresh" })
                                }
                            }
                        </td>
                    </tr>
                        }

            </table>
        </div>
    </div>
</div>
    